## Tugas 1

Diberikan list usia sebagai berikut:

```python
ages = [15, 22, 35, 44, 18, 67, 29]
```

#### Tugas 1.a

Gunakan `map()` dan `lambda` untuk mengelompokkan usia ke dalam kategori berikut:
- `< 18` → `"child"`
- `18–35` → `"adult"`
- `> 35` → `"senior"`

Simpan hasilnya dalam list baru bernama `age_category`, lalu cetak `age_category`.

---

💬 Expected Output Tugas 1.a:

```python
['child', 'adult', 'adult', 'senior', 'adult', 'senior', 'adult']
```

In [1]:
# Write your code here
ages = [15, 22, 35, 44, 18, 67, 29]

age_category = []
for age in ages:
    if age < 18:
        age_category.append("child")
    elif age <= 35:
        age_category.append("adult")
    else:
        age_category.append("senior")

print(age_category)

['child', 'adult', 'adult', 'senior', 'adult', 'senior', 'adult']

#### Tugas 1.b

Cetak setiap usia dan kategorinya dalam format:
```
15 → child
22 → adult
...
```

---

💬 Expected Output Tugas 1.b:

```
15 → child  
22 → adult  
35 → adult  
44 → senior  
18 → adult  
67 → senior  
29 → adult
```

---

**Hint:** Gunakan `zip()` dan for loop

In [2]:
# Write your code here
for age, category in zip(ages, age_category):
    print(f"{age} → {category}")

15 → child
22 → adult
35 → adult
44 → senior
18 → adult
67 → senior
29 → adult

## Tugas 2

Diberikan dua kumpulan review sebagai berikut:

```python
positive_review = [
    "Top seller barang sesuai deskripsi dan berfungsi dengan baik, jangan ragu berbelanja di sini.",
    "Paket aman pengiriman cepat packing nya juga sangat aman barang aman original sony japan seller fast response dan ramah",
    "Barang sesuai, packing rapi dan berfungsi dengan baik."
]

negative_review = [
    "Kabelnya tidak original, segel terbuka",
    "barang yang sampai bukan PS5. tapi permen. uang saya pun tidak dikembalikan.",
    "Jangan mau beli ps5 di sini toko tidak jelas"
]
```

#### Tugas 2.a

Lakukan tokenisasi sederhana terhadap setiap review pada `positive_review` dan `negative_review`.  
- Gunakan `lower()` untuk mengubah huruf menjadi kecil  
- Gunakan `split()` untuk memecah kalimat menjadi list kata  
- Lakukan dengan **list comprehension**

Assign kembali `positive_review` dan `negative_review` dengan hasilnya, lalu `print()` keduanya.

---

💬 Expected Output Tugas 2.a:

```python
[['top', 'seller', 'barang', 'sesuai', 'deskripsi', 'dan', 'berfungsi', 'dengan', 'baik,', 'jangan', 'ragu', 'berbelanja', 'di', 'sini.'],
 ['paket', 'aman', 'pengiriman', 'cepat', 'packing', 'nya', 'juga', 'sangat', 'aman', 'barang', 'aman', 'original', 'sony', 'japan', 'seller', 'fast', 'response', 'dan', 'ramah'],
 ['barang', 'sesuai,', 'packing', 'rapi', 'dan', 'berfungsi', 'dengan', 'baik.']]

[['kabelnya', 'tidak', 'original,', 'segel', 'terbuka'],
 ['barang', 'yang', 'sampai', 'bukan', 'ps5.', 'tapi', 'permen.', 'uang', 'saya', 'pun', 'tidak', 'dikembalikan.'],
 ['jangan', 'mau', 'beli', 'ps5', 'di', 'sini', 'toko', 'tidak', 'jelas']]
```

In [3]:
# Write your code here
positive_review = [
    "Top seller barang sesuai deskripsi dan berfungsi dengan baik, jangan ragu berbelanja di sini.",
    "Paket aman pengiriman cepat packing nya juga sangat aman barang aman original sony japan seller fast response dan ramah",
    "Barang sesuai, packing rapi dan berfungsi dengan baik."
]

negative_review = [
    "Kabelnya tidak original, segel terbuka",
    "barang yang sampai bukan PS5. tapi permen. uang saya pun tidak dikembalikan.",
    "Jangan mau beli ps5 di sini toko tidak jelas"
]

positive_review = [review.lower().split() for review in positive_review]
negative_review = [review.lower().split() for review in negative_review]

print(positive_review)
print(negative_review)

[['top', 'seller', 'barang', 'sesuai', 'deskripsi', 'dan', 'berfungsi', 'dengan', 'baik,', 'jangan', 'ragu', 'berbelanja', 'di', 'sini.'], ['paket', 'aman', 'pengiriman', 'cepat', 'packing', 'nya', 'juga', 'sangat', 'aman', 'barang', 'aman', 'original', 'sony', 'japan', 'seller', 'fast', 'response', 'dan', 'ramah'], ['barang', 'sesuai,', 'packing', 'rapi', 'dan', 'berfungsi', 'dengan', 'baik.']]
[['kabelnya', 'tidak', 'original,', 'segel', 'terbuka'], ['barang', 'yang', 'sampai', 'bukan', 'ps5.', 'tapi', 'permen.', 'uang', 'saya', 'pun', 'tidak', 'dikembalikan.'], ['jangan', 'mau', 'beli', 'ps5', 'di', 'sini', 'toko', 'tidak', 'jelas']]

#### Tugas 2.b

Import `Counter` dari modul `collections`.

**Syntax:**
```python
from collections import counter
```

Gabungkan semua kata dari masing-masing review (gunakan list comprehension), lalu hitung frekuensi kata dari `positive_review` dan `negative_review` menggunakan `Counter`.

Cetak hasil count untuk masing-masing review.

---

💬 Expected Output Tugas 2.b:

```python
Counter({'barang': 3, 'aman': 3, 'dan': 3, 'berfungsi': 2, 'dengan': 2, 'seller': 2, ...})

Counter({'tidak': 3, 'ps5': 2, 'barang': 1, 'jangan': 1, ...})
```

In [4]:
# Write your code here
from collections import Counter

positive_words = []
for review in positive_review:
    positive_words.extend(review)

negative_words = []
for review in negative_review:
    negative_words.extend(review)

print(Counter(positive_words))
print(Counter(negative_words))

Counter({'barang': 3, 'dan': 3, 'aman': 3, 'seller': 2, 'berfungsi': 2, 'dengan': 2, 'packing': 2, 'top': 1, 'sesuai': 1, 'deskripsi': 1, 'baik,': 1, 'jangan': 1, 'ragu': 1, 'berbelanja': 1, 'di': 1, 'sini.': 1, 'paket': 1, 'pengiriman': 1, 'cepat': 1, 'nya': 1, 'juga': 1, 'sangat': 1, 'original': 1, 'sony': 1, 'japan': 1, 'fast': 1, 'response': 1, 'ramah': 1, 'sesuai,': 1, 'rapi': 1, 'baik.': 1})
Counter({'tidak': 3, 'kabelnya': 1, 'original,': 1, 'segel': 1, 'terbuka': 1, 'barang': 1, 'yang': 1, 'sampai': 1, 'bukan': 1, 'ps5.': 1, 'tapi': 1, 'permen.': 1, 'uang': 1, 'saya': 1, 'pun': 1, 'dikembalikan.': 1, 'jangan': 1, 'mau': 1, 'beli': 1, 'ps5': 1, 'di': 1, 'sini': 1, 'toko': 1, 'jelas': 1})

## Tugas 3

Diberikan list berikut yang berisi data rating produk (dari 1 sampai 5):

```python
ratings = [5, 4, 3, 5, 2, 1, 4, 3, 5, 2, 1]
```

#### Tugas 3.a

Buat fungsi bernama `is_high_rating` yang menerima satu angka `x` dan mengembalikan `True` jika nilainya **lebih besar atau sama dengan 4**, dan `False` jika tidak.

Cetak hasil uji fungsi ini untuk `x = 4` dan `x = 2`.

---

💬 Expected Output:

```python
True
False
```

In [6]:
# Write your code here
def is_high_rating(x):
    return x >= 4

print(is_high_rating(4))
print(is_high_rating(2))

True
False

#### Tugas 3.b

Gunakan `filter()` dengan fungsi `is_high_rating` untuk menyaring hanya rating yang bernilai **4 atau lebih**.  
Simpan hasilnya dalam list `high_ratings`, lalu cetak hasilnya.

---

💬 Expected Output:

```python
[5, 4, 5, 4, 5]
```

In [7]:
# Write your code here
ratings = [5, 4, 3, 5, 2, 1, 4, 3, 5, 2, 1]

high_ratings = []
for r in ratings:
    if is_high_rating(r):
        high_ratings.append(r)

print(high_ratings)

[5, 4, 5, 4, 5]

#### Tugas 3.c

Gunakan `filter()` dengan `lambda` function untuk menyaring hanya rating yang **bernilai ganjil**.  
Simpan ke list `odd_ratings` dan cetak hasilnya.

---

💬 Expected Output:

```python
[5, 3, 5, 1, 3, 5, 1]
```

In [8]:
# Write your code here
odd_ratings = []
for r in ratings:
    if r % 2 == 1:
        odd_ratings.append(r)

print(odd_ratings)

[5, 3, 5, 1, 3, 5, 1]

## Tugas 4

#### Tugas 4.a

Diberikan list nama produk berikut:

```python
products = ["laptop", "smartphone", "tablet", "monitor"]
```

Gunakan `enumerate()` untuk membuat list of tuples `product_list` di mana tiap elemen-nya berupa `(id, product_name)`, dengan `id` dimulai dari 101.  
Cetak hasilnya.

---

💬 Expected Output:

```python
[(101, 'laptop'), (102, 'smartphone'), (103, 'tablet'), (104, 'monitor')]
```

In [9]:
# Write your code here
products = ["laptop", "smartphone", "tablet", "monitor"]

product_list = []
for i, name in enumerate(products):
    product_list.append((101 + i, name))

print(product_list)

[(101, 'laptop'), (102, 'smartphone'), (103, 'tablet'), (104, 'monitor')]

#### Tugas 4.b

Diberikan dua list berikut:

```python
names = ["Anna", "Ben", "Cara", "Dion"]
scores = [88, 45, 73, 91]
```

Gunakan `enumerate()` untuk mencetak semua peserta yang mendapat nilai di bawah 70.  
**Ikuti langkah berikut secara eksplisit:**

1. Gunakan `zip()` untuk menggabungkan `names` dan `scores`
2. Gunakan `enumerate()` untuk memberikan indeks pada setiap pasangan `(name, score)`
3. Buat `for` loop dari hasil `enumerate(zip(...))`
4. Di dalam loop, jika `score < 70`, cetak dalam format:

```
<name> (Index: <index>) mendapat nilai di bawah KKM: <score>
```

---

💬 Expected Output:

```
Ben (Index: 1) mendapat nilai di bawah KKM: 45
```

In [10]:
# Write your code here
names = ["Anna", "Ben", "Cara", "Dion"]
scores = [88, 45, 73, 91]

for index, (name, score) in enumerate(zip(names, scores)):
    if score < 70:
        print(f"{name} (Index: {index}) mendapat nilai di bawah KKM: {score}")

Ben (Index: 1) mendapat nilai di bawah KKM: 45

## Tugas 5

Kamu memiliki dua list berisi data rating produk dari dua batch yang berbeda. Namun, hanya rating dari **1 hingga 5** yang valid:

```python
batch_1 = [5, 3, 6, 2, -1, 4]
batch_2 = [4, 0, 2, 5, 3]
```

#### Tugas 5.a

Buat list kosong `all_valid_ratings`.  
Saring hanya nilai valid dari `batch_1` (nilai antara 1 dan 5, inklusif), lalu tambahkan hasilnya ke `all_valid_ratings` menggunakan `extend()`.  
Cetak isi `all_valid_ratings` setelah extend dari `batch_1`.

---

💬 Expected Output Tugas 5.a:

```python
[5, 3, 2, 4]
```

In [11]:
# Write your code here
batch_1 = [5, 3, 6, 2, -1, 4]
all_valid_ratings = []

for r in batch_1:
    if 1 <= r <= 5:
        all_valid_ratings.append(r)

print(all_valid_ratings)

[5, 3, 2, 4]

#### Tugas 5.b

Lakukan hal yang sama untuk `batch_2`: saring rating valid dan tambahkan ke `all_valid_ratings` menggunakan `extend()`.  
Cetak isi `all_valid_ratings` setelah extend dari `batch_2`.

---

💬 Expected Output Tugas 5.b:

```python
[5, 3, 2, 4, 4, 2, 5, 3]
```

In [12]:
# Write your code here
batch_2 = [4, 0, 2, 5, 3]

for r in batch_2:
    if 1 <= r <= 5:
        all_valid_ratings.append(r)

print(all_valid_ratings)

[5, 3, 2, 4, 4, 2, 5, 3]

## Tugas 6

Kamu diberikan list transaksi berikut. Setiap elemen adalah tuple berisi `(kategori, jumlah)`.

```python
transactions = [
    ("food", 120000),
    ("transport", 30000),
    ("food", 50000),
    ("entertainment", 75000),
    ("food", 40000),
    ("transport", 45000)
]
```

#### Tugas 6.a

Gunakan loop dan `setdefault()` untuk mengelompokkan transaksi berdasarkan kategori.  
Buat dictionary `grouped_data` di mana setiap key adalah kategori dan setiap value adalah list dari jumlah transaksi di kategori tersebut.

Cetak isi `grouped_data`.

---

💬 Expected Output Tugas 6.a:

```python
{
  'food': [120000, 50000, 40000],
  'transport': [30000, 45000],
  'entertainment': [75000]
}
```

In [13]:
# Write your code here
transactions = [
    ("food", 120000),
    ("transport", 30000),
    ("food", 50000),
    ("entertainment", 75000),
    ("food", 40000),
    ("transport", 45000)
]

grouped_data = {}

for category, amount in transactions:
    if category not in grouped_data:
        grouped_data[category] = []
    grouped_data[category].append(amount)

print(grouped_data)

{'food': [120000, 50000, 40000], 'transport': [30000, 45000], 'entertainment': [75000]}

#### Tugas 6.b

Gunakan method `get()` untuk mengambil dan menjumlahkan total pengeluaran kategori `"food"` dan `"misc"`.

- Ambil total dari `grouped_data["food"]` dengan `.get()`, lalu jumlahkan
- Ambil total dari `grouped_data["misc"]` (yang tidak ada), gunakan default empty list (`[]`) agar tidak error

Cetak keduanya: total pengeluaran `"food"` dan `"misc"`.

---

💬 Expected Output Tugas 6.b:

```python
Total food: 210000  
Total misc: 0
```

In [14]:
# Write your code here
total_food = sum(grouped_data.get("food", []))
total_misc = sum(grouped_data.get("misc", []))

print(f"Total food: {total_food}")
print(f"Total misc: {total_misc}")

Total food: 210000
Total misc: 0

## Tugas 7

Kamu memiliki daftar user ID yang sedang diperiksa karena aktivitas mencurigakan:

```python
flagged_ids = ["u102", "u143", "u187", "u199"]
```

#### Tugas 7.a

Gunakan `dict.fromkeys()` untuk membuat dictionary `status_map` di mana setiap `user_id` diawali dengan status `"pending"`.  
Cetak `status_map`.

---

💬 Expected Output Tugas 7.a:

```python
{'u102': 'pending', 'u143': 'pending', 'u187': 'pending', 'u199': 'pending'}
```

In [15]:
# Write your code here
flagged_ids = ["u102", "u143", "u187", "u199"]

status_map = dict.fromkeys(flagged_ids, "pending")
print(status_map)

{'u102': 'pending', 'u143': 'pending', 'u187': 'pending', 'u199': 'pending'}

#### Tugas 7.b

Sekarang, anggap `"u143"` dan `"u187"` telah diverifikasi.  
Ubah status mereka menjadi `"cleared"` dalam dictionary `status_map`.  
Cetak kembali `status_map`.

---

💬 Expected Output Tugas 7.b:

```python
{'u102': 'pending', 'u143': 'cleared', 'u187': 'cleared', 'u199': 'pending'}
```

In [16]:
# Write your code here
status_map["u143"] = "cleared"
status_map["u187"] = "cleared"

print(status_map)

{'u102': 'pending', 'u143': 'cleared', 'u187': 'cleared', 'u199': 'pending'}

## Tugas 8

#### Tugas 8.a

Kamu diberikan total durasi dalam menit:

```python
total_minutes = 245
```

Gunakan fungsi `divmod()` untuk mengonversi `total_minutes` menjadi `(jam, menit)`.  
Cetak hasilnya dalam format seperti:
```
245 menit = 4 jam 5 menit
```

---

💬 Expected Output Tugas 8.a:

```
245 menit = 4 jam 5 menit
```

In [17]:
# Write your code here
total_minutes = 245
jam, menit = divmod(total_minutes, 60)

print(f"{total_minutes} menit = {jam} jam {menit} menit")

245 menit = 4 jam 5 menit

#### Tugas 8.b

Sebuah gudang ingin mengemas 1280 barang ke dalam kotak, masing-masing dapat menampung **300** barang.  
Gunakan `divmod()` untuk menghitung:
- Berapa kotak penuh yang dapat digunakan
- Berapa sisa barang yang belum terkemas

Cetak hasilnya seperti:
```
1280 barang → 4 kotak penuh, 80 barang tersisa
```

---

💬 Expected Output Tugas 8.b:

```
1280 barang → 4 kotak penuh, 80 barang tersisa
```

In [18]:
# Write your code here
total_items = 1280
box_capacity = 300

kotak, sisa = divmod(total_items, box_capacity)
print(f"{total_items} barang → {kotak} kotak penuh, {sisa} barang tersisa")

1280 barang → 4 kotak penuh, 80 barang tersisa

## Tugas 9

#### Tugas 9.a

Kamu memiliki input string `password_input` yang diisi pengguna:

```python
password_input = "s4fep@ss"
```

Gunakan `len()` untuk memeriksa berapa panjang karakter dari password tersebut.  
Cetak kalimat:  
```
Password memiliki X karakter.
```

---

💬 Expected Output Tugas 9.a:

```
Password memiliki 8 karakter.
```

In [19]:
# Write your code here
password_input = "s4fep@ss"
panjang = len(password_input)

print(f"Password memiliki {panjang} karakter.")

Password memiliki 8 karakter.

#### Tugas 9.b

Minimum panjang password yang diizinkan adalah 12 karakter.  
Gunakan `len()` dan `range()` untuk mencetak placeholder `*` sebanyak selisih kekurangan karakter jika password terlalu pendek.

Contoh format:
```
Password kurang 4 karakter.
Saran: Tambahkan ****
```

Jika password sudah cukup panjang, cetak:
```
Password sudah memenuhi panjang minimum.
```

---

💬 Expected Output Tugas 9.b:

```
Password kurang 4 karakter.  
Saran: Tambahkan ****
```

In [20]:
# Write your code here
min_length = 12

if panjang < min_length:
    kurang = min_length - panjang
    print(f"Password kurang {kurang} karakter.")
    print("Saran: Tambahkan " + "*" * kurang)
else:
    print("Password sudah memenuhi panjang minimum.")

Password kurang 4 karakter.
Saran: Tambahkan ****

## Tugas 10

Diberikan list nilai siswa:

```python
grades = [78, 85, 92, 67, 88, 90, 74]
```

#### Tugas 10.a

Gunakan fungsi `min()` dan `max()` untuk mencari:
- Nilai tertinggi
- Nilai terendah

Cetak hasilnya.

---

💬 Expected Output Tugas 11.a:

```
Nilai tertinggi: 92  
Nilai terendah: 67
```

In [21]:
# Write your code here
grades = [78, 85, 92, 67, 88, 90, 74]

print(f"Nilai tertinggi: {max(grades)}")
print(f"Nilai terendah: {min(grades)}")

Nilai tertinggi: 92
Nilai terendah: 67

#### Tugas 10.b

Gunakan `sum()` dan `len()` untuk menghitung rata-rata nilai. Cetak hasilnya dalam format:
```
Rata-rata nilai: XX.XX
```
---

💬 Expected Output Tugas 10.b:

```
Rata-rata nilai: 82.00
```

In [22]:
# Write your code here
rata_rata = sum(grades) / len(grades)
print(f"Rata-rata nilai: {rata_rata:.2f}")

Rata-rata nilai: 82.00

## Tugas 11 (gw gk tahu yg ini sebaiknya dimasukkin atau nggak, soalnya keknya gk kepake(?))

Kamu memiliki list `error_logs` yang berisi pesan-pesan error dari sistem:

```python
error_logs = [
    "Disk warning: C almost full",
    "Auth failure on SSH port",
    "Database connection lost",
    "Low memory warning",
    "Power supply unstable"
]
```

#### Tugas 11.a

Gunakan fungsi `iter()` untuk membuat iterator dari list tersebut. Simpan dalam variabel `log_iterator`.  
Cetak objek iterator tersebut.

---

💬 Expected Output Tugas 10.a:

```
<list_iterator object at ...>  ← bentuk output bisa berbeda tergantung interpreter
```

In [23]:
# Write your code here
error_logs = [
    "Disk warning: C almost full",
    "Auth failure on SSH port",
    "Database connection lost",
    "Low memory warning",
    "Power supply unstable"
]

log_iterator = iter(error_logs)
print(log_iterator)

<list_iterator object at 0x7c0a34c33730>

#### Tugas 11.b

Gunakan `next()` sebanyak 3 kali berturut-turut pada `log_iterator`, dan cetak hasilnya satu per satu.

---

💬 Expected Output Tugas 10.b:

```
Disk warning: C almost full  
Auth failure on SSH port  
Database connection lost
```

In [ ]:
# Write your code here

In [24]:
print(next(log_iterator))
print(next(log_iterator))
print(next(log_iterator))

Disk warning: C almost full
Auth failure on SSH port
Database connection lost